/* UpdatePassword.css */

.update-container {
  max-width: 400px;
  margin: 120px auto;
  padding: 50px;
  border: 2px solid #ffff;
  border-radius: 15px;
  background-color:  #f0f8ff;
  box-shadow: 0 4px 15px rgba(40, 167, 69, 0.2);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.update-container h2 {
  color: #6ebedc;;
  margin-bottom: 30px;
}

.update-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #328ced;
  border-radius: 6px;
  outline: none;
}

.update-container input:focus {
  border-color: hsl(167, 84%, 46%);;
}

.update-container button {
  width: 100%;
  padding: 12px;
  background-color: hsl(167, 84%, 46%);;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.update-container button:hover {
  background-color: #22fcbb;
}

.update-container p {
  margin-top: 15px;
  color: #333;
}