/* ForgetPassword.css */

.forget-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  background-color: #f0f8ff;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.forget-container h2 {
  color: #6ebedc;
  margin-bottom: 25px;
}

.forget-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #328ced;
  border-radius: 6px;
  outline: none;
}

.forget-container input:focus {
  border-color: hsl(167, 84%, 46%);
}

.forget-container button {
  width: 100%;
  padding: 12px;
  background-color: hsl(167, 84%, 46%);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.forget-container button:hover {
  background-color: #14ecdd;
}

.forget-container p {
  margin-top: 15px;
  color: #333;
}